#xf-logo {
    background-image: url(../img/plants.jpg);
    height: 50px;
}

#dataface-sections-left-column {
    display: none ;
}

.listing .even {
    /*every second line should be shaded */
    background-color: transparent;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
