#xf-logo {
    background-image: url(../img/logo.jpg);
    height: 50px;
}

#dataface-sections-left-column {
    display: none ;
}

.listing .even {
    /*every second line should be shaded */
    background-color: transparent;
}

